<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">Книги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="RentalBooks" asp-action="Index">Выдача книг</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="RequestOfRentalBooks" asp-action="Index">Заявки</a>
    </li>
</ul>
<div class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <h5 class="nav-link">@User.Identity.Name (Библиотекарь)</h5>
        </li>
        <li class="nav-item">
            <a class="btn me-3 btn-outline-success" asp-area="" asp-controller="Account" asp-action="Logout">выйти</a>
        </li>
    </ul>
</div>